:root {
    --width-cards:100vw;
    --width-preview:0vw;
    --preview-visibility:hidden;
    --image-x: url('./cross.png');
    --columns:2;
}

*{
    padding: 0%;
    margin: 0%;
}
.allcards-container{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: top;
}

ul{
    width: var(--width-cards);
    height: auto;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 85%;   
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(var(--columns), minmax(0%,0.4fr));
    background-color: rgba(255, 0, 0, 0);
}

li{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: top;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 255, 0);
    padding-top: 0px;
}

.preview{
    visibility: var(--preview-visibility);
    width: 50vw;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    right: -2vw;
}
.preview-space{
    visibility: var(--preview-visibility);
    width: var(--width-preview);
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0);
}
.close{
    visibility: var(--preview-visibility);
    position: fixed;
    width: 40px;
    height: 40px;
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    background-image: var(--image-x);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    top: 20vh;
    left: 88.5vw;
    z-index: 1;
}
.close:hover{
    width: 50px;
    height: 50px;
    top: 19.5vh;
    left: 88.2vw;
}
