.info-in-s{
    width: 50%;
    height: 95%;
    background-color: rgb(0, 40, 105);
    background-image: linear-gradient(to right top, #051937, #1e2c6d, #5439a1, #9a39cc, #eb12eb);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1607%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='url(%23SvgjsLinearGradient1608)'%3e%3c/rect%3e%3cpath d='M1375.018615697412 39.84942155244793L1220.9864029848077 12.689386552990346 1193.8263679853499 166.72159926559488 1347.8585806979545 193.88163426505244z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1444.706%2c705.783C1482.177%2c705.339%2c1515.876%2c683.715%2c1534.153%2c651C1551.983%2c619.085%2c1549.193%2c581.196%2c1532.469%2c548.687C1513.962%2c512.711%2c1485.144%2c478.37%2c1444.706%2c477.126C1402.649%2c475.832%2c1366.752%2c505.798%2c1347.065%2c542.985C1328.633%2c577.802%2c1331.252%2c619.378%2c1351.515%2c653.162C1371.181%2c685.952%2c1406.474%2c706.236%2c1444.706%2c705.783' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M505.7808170860227 511.3064224773955L646.4018800082209 543.7713529083974 678.8668104392227 403.15028998619914 538.2457475170246 370.68535955519724z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1101.1810632150764 256.0752030102752L1016.136366357362 208.93415776398726 968.9953211110742 293.9788546217016 1054.0400179687886 341.11989986798955z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1429.085938395625 561.8482622681463L1487.7056297953707 436.1379283832566 1361.995295910481 377.51823698351075 1303.3756045107352 503.2285708684004z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M196.63896334775552 376.02927692300494L258.9161162494762 276.3649987640123 159.25183809048352 214.0878458622916 96.97468518876285 313.75212402128426z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1329.3938186462465 320.3438632604224L1202.999771866798 408.84592760022286 1291.5018362065985 535.2399743796714 1417.895882986047 446.7379100398708z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M460.871389021837 306.0519713067453L484.26980246442247 416.65103441793724 558.8508921539526 351.81868225894607z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M1253.693%2c98.595C1275.199%2c98.655%2c1288.246%2c77.616%2c1299.056%2c59.024C1309.949%2c40.289%2c1321.881%2c18.487%2c1311.249%2c-0.397C1300.501%2c-19.487%2c1275.561%2c-22.868%2c1253.693%2c-21.551C1234.383%2c-20.388%2c1216.451%2c-11.004%2c1207.008%2c5.88C1197.779%2c22.381%2c1200.266%2c41.884%2c1208.769%2c58.771C1218.415%2c77.928%2c1232.244%2c98.535%2c1253.693%2c98.595' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M1297.443188813341 72.33421833473471L1312.5002182404282 149.7959195424392 1421.1642553384415 88.4795247979562z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3cpath d='M350.53471462505644 160.06988014647806L511.2565159484354 185.5257126970327 375.9905471756111-0.6519211769008848z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float1'%3e%3c/path%3e%3cpath d='M347.2531961278735 122.94647686729598L196.72939613394777 115.05785878036971 188.8407780470215 265.5816587742954 339.3645780409472 273.4702768612217z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M66.00481879843029 476.97288680158897L151.99935607285892 526.6218560458177 201.6483253170876 440.627318771389 115.65378804265899 390.97834952716033z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M922.3067422347475 483.4791541268488L921.0711809165452 412.69389361458764 815.5110708072546 449.93986584802167z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1204.0966531213933 280.32696076829575L1187.630319858297 90.02726648441347 1049.2030534417393 183.39763664559737z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M1156.899384996082 357.5719601018852L1248.8077261212989 265.66361897666843 1156.899384996082 173.7552778514517 1064.9910438708653 265.6636189766685z' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M844.949%2c685.354C893.299%2c687.338%2c941.495%2c670.169%2c968.611%2c630.089C999.346%2c584.66%2c1014.043%2c524.385%2c985.57%2c477.505C957.827%2c431.826%2c898.332%2c423.936%2c844.949%2c426.481C796.777%2c428.778%2c749.102%2c447.678%2c725.781%2c489.891C703.104%2c530.939%2c713.288%2c580.572%2c737.7%2c620.613C760.998%2c658.827%2c800.231%2c683.519%2c844.949%2c685.354' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float2'%3e%3c/path%3e%3cpath d='M147.51%2c340.761C198.853%2c338.282%2c240.157%2c304.364%2c266.9%2c260.466C295.029%2c214.293%2c313.14%2c158.304%2c287.743%2c110.573C261.095%2c60.491%2c204.176%2c33.39%2c147.51%2c36.082C94.972%2c38.578%2c55.519%2c77.698%2c28.598%2c122.883C0.838%2c169.476%2c-19.658%2c225.442%2c6.325%2c273.049C33.124%2c322.153%2c91.634%2c343.459%2c147.51%2c340.761' fill='rgba(28%2c 83%2c 142%2c 0.4)' class='triangle-float3'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1607'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='50%25' y1='0%25' x2='50%25' y2='100%25' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1608'%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='0'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 255%2c 255%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3cstyle%3e %40keyframes float1 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-10px%2c 0)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float1 %7b animation: float1 5s infinite%3b %7d %40keyframes float2 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(-5px%2c -5px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float2 %7b animation: float2 4s infinite%3b %7d %40keyframes float3 %7b 0%25%7btransform: translate(0%2c 0)%7d 50%25%7btransform: translate(0%2c -10px)%7d 100%25%7btransform: translate(0%2c 0)%7d %7d .triangle-float3 %7b animation: float3 6s infinite%3b %7d %3c/style%3e%3c/defs%3e%3c/svg%3e");

}

.types-s, .peso-s, .movimientos-s, .sprites-s, .numero-info-s, .nombre-info-s, .preview-img-s{
    align-items: flex-start;
    width: 100%;
    height: 40%;
    background-color: rgba(129, 73, 0, 0);
    margin-top: 1px;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    color: rgb(255, 255, 255);
    color: black;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bolder;
}
.preview-img-s{
    justify-content: center;
    align-items: center;
}

.info-in-s img{
    width: 20%;
    background-color: rgba(255, 255, 255, 0);
    justify-content: center;
    align-items: center;
}

.info-items-s img{
    width: 50%;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
}

.numero-info-s, .nombre-info-s{
    justify-content: center;
    flex-direction: row;
    align-items: center;
    margin: 0%;
    padding: 0%;
    font-size: 1.5rem;
    font-family: 'Roboto', sans-serif;
    background-color: rgba(250, 235, 215, 0);
    width: 100%;
    height: 30%;
}
.tag-info-s{  
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    background-color: rgba(0, 255, 255, 0);
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: left;
}
.info-items-s{
    width: 100%;
    background-color: rgba(165, 42, 42, 0);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: lighter;
}
.sprites-s ul{
    justify-content: center;
}

.movimientos-s{
    height: fit-content;
    position: relative;
    height: 15%;
    
}

.movs-s{
    height: fit-content;
    background-color: rgba(240, 248, 255, 0.242);
    width: 100%;
    height: 100%;
    justify-content: flex-start;
    overflow-y: scroll;
}


