@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0%;
    text-transform:capitalize;
}

.cards-container{
    margin-top: 40px;
    width: 100%;
    height: auto;
    background-color: rgba(255, 192, 203, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-in{
    width: 50%;
    height: 100%;
    background-color: cadetblue;
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:5px solid;
    border-width: medium;
    border-color: aliceblue;
}

img{
    width: 70%;
    background-color: rgba(0, 0, 0, 0);
}

.nombre, .id{
    width: 100%;
    height: 10%;
    background-color: rgba(240, 248, 255, 0);
    margin: 4px 0%;
    font-size: 1.2rem;
    font-family: 'Roboto', sans-serif;

}