@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

*{
    margin: 0;
    padding: 0%;
    text-transform:capitalize;
}

.cards-container{
    margin-top: 40px;
    width: 100%;
    height: auto;
    background-color: rgba(255, 192, 203, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.card-in{
    width: 50%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border:5px solid;
    border-width: medium;
    border-color: rgba(240, 248, 255, 0);
    color: aliceblue;
}

img{
    width: 70%;
    background-color: rgba(0, 0, 0, 0);
}

.nombre, .id{
    width: 100%;
    height: 10%;
    background-color: rgba(240, 248, 255, 0);
    margin: 4px 0%;
    font-size: 1.0rem;
    font-family: 'Roboto', sans-serif;
    padding: 10px;

}


 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .card-in{
        width: 95%;
    }
    .nombre, .id{
        font-size: 0.8rem;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    .card-in{
        width: 80%;
    }
    .nombre, .id{
        font-size: 0.8rem;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    .card-in{
        width: 70%;
    }
    .nombre, .id{
        font-size: 0.9rem;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .card-in{
        width: 60%;
    }
    .nombre, .id{
        font-size: 0.95rem;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    .card-in{
        width: 50%;
    }
    .nombre, .id{
        font-size: 1rem;
    }
 } 