@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

.main-container{
    width: 100vw;
    height: auto;
    background-color: rgba(0, 255, 255, 0);
    display: flex;
    flex-direction: column;
}
.search{
    width: 100vw;
    height: 10%;
    background-color: rgba(255, 228, 196, 0);
    display: flex;
    justify-content: left;
    align-items: center;
}
.search input{
    width: 38.5%;
    height: 70%;
    margin-left: 3.5%;
    font-size: 1.7rem;
}

.sub-container{
    width: 100vw;
    height: auto;
    background-color: rgba(127, 255, 212, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards{
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
    display: flex;
    justify-content: center;
    align-items: center;
}
.paging{
    width: 100vw;
    height: 10vh;
    background-color: rgba(137, 43, 226, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.paging button{
    font-size: 1.2rem;
}

.paging-left, .paging-right{
    width: 50%;
    height: 100%;
    background-color: rgba(255, 0, 0, 0);
    display: flex;
    align-items: center;
}
.paging-left{
    background-color: rgba(240, 248, 255, 0);
    justify-content: left;
}
.paging-left button{
    margin-left: 7%;
}
.paging-right{
    background-color: rgba(240, 248, 255, 0);
    justify-content: right;
}

.paging-right button{
    margin-right: 7%;
}
button{
    width: 20%;
    height: 70%;
    background-color: rgb(11, 93, 244);
    color: white;
    border-radius: 5px;
}