@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');

.footer{
    width: 100vw;
    height: 2.5vh;
    bottom: 0;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
    position: fixed;
}